.CommentList {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em;
    padding-top: 0.5em;
    place-items: center;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    text-align: center;
    background-color: dimgray;
}

.comment {
    color:white;
    text-align: justify;
    text-justify: inter-word;
}