.Nav {
    height: 5%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 5em;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: normal;
    z-index: 1;
    backdrop-filter: blur(2px);
    background-color: black;
    opacity: 0.6;
}

.nav-button {
    margin: 0 2em;
    opacity: 1;
}

.nav-text {
    font-family:Avenir, "Century Gothic", sans-serif;
    font-size: 1.25em;
    font-weight: 10000;
    margin-left: 10%;
    margin-right: 40%;
    vertical-align: auto;
    opacity: 1;
}